*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    background-color: #496B7E;
    overflow: hidden;
    align-items: center;
    height: 30px;
    padding: 10px 0;

}

header .logo{
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 20px;
}

header .logo img{
    width: 60px;
    height: 60px;
}

header .logo a{
    text-decoration: none;
}

header .logo a p{ 
    font-weight: 500;
    font-size: 22px;
    color: #ffff;
    letter-spacing: 0.06em;
    margin-top: 10px;
}

nav{
    width: 300px;
    margin-right: 40px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a{
    color: #ffff;
    text-decoration: none;
    transition: .3s ease;
    font-size: 14px;
}

nav ul li a:hover{
    color:gold;
}

/* hero */
.hero{
    height: 500px;
    background: linear-gradient(180deg, #496B7E 5.21%, rgba(73, 107, 126, 0.572917) 60.77%, rgba(153, 172, 183, 0.320091) 100%, rgba(255, 255, 255, 0) 100%);
}

.hero .hero-text{
    padding-top: 80px;
    padding-left: 100px;
    width: 40%;
    color: white;
}

.hero .hero-text h4{
    background-color: white;
    color: #3E3E3E;
    width: 320px;
    text-align: center;
    border-radius: 8px;
}

.hero .hero-text h1{
    
}

.hero .hero-text p{
    line-height: 26px;
    margin-top: 18px;
}

.hero .hero-text section{
    margin-top: 26px;
    padding-left: 10px;
    width: 80%;
    background-color: #496B7E;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.hero .hero-text section .text{
    
    
}

.hero .hero-text section .icon{
    margin-top: 4px;
}

.hero .hero-text section .icon img{
    width: 26px;
    margin-left: 10px;
}

.hero .hero-img{
    position: absolute;
    width: 40%;
    top: 120px;
    left: 55%;
}

.hero .hero-img .foto1{
    width: 280px;
    height: 280px;
    
}

.hero .hero-img .foto2{
    position: absolute;
    width: 200x;
    height: 160px;
}

/* .hero .hero-img .foto3{
    width: 200px;
} */

/* Footer */
footer{
    text-align: center;
    padding: 20px 0;
}

/* PAGE ABOUT ME*/

.hero .hero-text-aboutme{
    color: white;
    width: 800px;
    margin: 0 auto;
    padding-top: 70px;
}

.hero .hero-text-aboutme p{
    margin: 20px auto;
    width: 70%;
    text-align: center;
}

.hero .sosmed{
    text-align: center;
}

.hero .sosmed p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
}

.hero .sosmed a img{
    width: 40px;
    margin: 0 10px;
}